[project]
	description = Testing ci server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ksreenivas33
[access "refs/for/refs/*"]
	read = group user/ksreenivas33
	push = group user/ksreenivas33
	label-Code-Review = -2..+2 group user/ksreenivas33
	label-Verified = -1..+1 group user/ksreenivas33
	rebase = group user/ksreenivas33
	removeReviewer = group user/ksreenivas33
	submit = group user/ksreenivas33
[access "refs/heads/*"]
	read = group user/ksreenivas33
	create = group user/ksreenivas33
	push = +force group user/ksreenivas33
	pushMerge = group user/ksreenivas33
[access "refs/tags/*"]
	push = +force group user/ksreenivas33
	pushTag = group user/ksreenivas33
	pushSignedTag = group user/ksreenivas33
